<div class="top">
  <h3>Loading ? : <strong>{{ loader.isLoading(['myLoaderMulti']) ? 'Yes!' : 'Nope.' }}</strong></h3>
</div>

<div class="container">
  <div class="item">
    <h3>Loading ? : <strong>{{ loader.isLoading('myLoaderMulti') ? 'Yes!' : 'Nope.' }}</strong></h3>
    <ngx-smart-loader identifier="myLoaderMulti" [delayIn]="2000" [delayOut]="200">
      <div class="loader">
        <div class="circle"></div>
      </div>
    </ngx-smart-loader>
  </div>

  <div class="item">
    <h3>Loading ? : <strong>{{ loader.isLoading('myLoaderMulti') ? 'Yes!' : 'Nope.' }}</strong></h3>
    <ngx-smart-loader identifier="myLoaderMulti" [delayOut]="200">
      <div class="loader">
        <div class="circle"></div>
      </div>
    </ngx-smart-loader>
  </div>

  <div class="item">
    <h3>Loading ? : <strong>{{ loader.isLoading('myLoaderMulti') ? 'Yes!' : 'Nope.' }}</strong></h3>
    <ngx-smart-loader identifier="myLoaderMulti" [delayOut]="200">
      <div class="loader">
        <div class="circle"></div>
      </div>
    </ngx-smart-loader>
  </div>
</div>

<div class="container">
  <div class="item item-blank">
    <div class="code-snippet">
      <pre>
        <code>{{ code.one }}</code>
      </pre>
    </div>
  </div>

  <div class="item item-blank">
    <div class="code-snippet">
      <pre>
        <code>{{ code.two }}</code>
      </pre>
    </div>
  </div>

  <div class="item item-blank">
    <div class="code-snippet">
      <pre>
        <code>{{ code.three }}</code>
      </pre>
    </div>
  </div>
</div>

<div class="btn-container">
  <button (click)="loader.start(['myLoaderMulti'])">Loading start (actionDelay: 0ms)</button>
  <button (click)="loader.stop(['myLoaderMulti'])">Loading stop (actionDelay: 0ms, hideDelay: 200ms)</button>
</div>